@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.input-email-box {
  position: relative;

  padding: 0 0 24px;
}

.input-email-box__icon {
  position: absolute;
  right: 3px;
  bottom: 39px;

  @media (min-width: var.$tablet-width) {
    right: 22px;
  }

  @media (min-width: var.$desktop-width) {
    right: 4px;
  }

  color: rgba(0, 0, 0, 0.3);

  pointer-events: none;
}

.input-email-box__input-email:not(:disabled):hover + .input-email-box__icon,
.input-email-box__input-email:not(:disabled):focus + .input-email-box__icon {
  color: var.$color-form-green;
}

.input-email-box__input-email:disabled + .input-email-box__icon {
  color: rgba(0, 0, 0, 0.1);
}
