@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.input-tel-box {
  position: relative;

  padding: 0 0 24px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 19px;
  }
}

.input-tel-box__icon {
  position: absolute;
  right: 7px;
  bottom: 41px;

  color: rgba(0, 0, 0, 0.3);

  @media (min-width: var.$tablet-width) {
    right: 26px;
    bottom: 36px;
  }

  @media (min-width: var.$desktop-width) {
    right: 8px;
  }
}

.input-tel-box__input-tel:not(:disabled):hover + .input-tel-box__icon,
.input-tel-box__input-tel:not(:disabled):focus + .input-tel-box__icon {
  color: var.$color-form-green;
}

.input-tel-box__input-tel:disabled + .input-tel-box__icon {
  color: rgba(0, 0, 0, 0.1);
}
