@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.order {
  padding: 0 0 55px;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 50px;
  }
}

.order__title-wrapper {
  position: relative;

  padding: 91px 23px 73px;

  background-color: var.$color-alter-background;

  @media (min-width: var.$tablet-width) {
    padding: 34px 176px 86px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 36px 0 0;
  }
}

.order__title-wrapper::after {
  @media (min-width: var.$tablet-width) and (max-width: var.$tablet-width-only) {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 24px;

    background-image: url("../img/zigzag-fill-tablet.svg");
    background-repeat: repeat-x;
    background-size: 768px 24px;
    background-position: center bottom;
  }

  @media (min-width: var.$desktop-width) {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0 auto;
    width: 100%;
    height: 34px;

    background-image: url("../img/zigzag-fill-desktop-form.svg");
    background-repeat: repeat-x;
    background-size: 1150px 34px;
    background-position: center bottom;
  }
}

.order__main-title {
  position: relative;

  @include mixin.font-main-title;

  @media (min-width: var.$desktop-width) {
    margin: 0 auto;
    padding: 0 200px 113px;
    width: 1150px;

    text-align: center;
  }
}

.order__text {
  padding: 17px 30px 30px;

  @include mixin.font-order-lead;

  @media (min-width: var.$tablet-width) {
    padding: 55px 50px 64px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 auto;
    padding: 99px 226px 64px;
    max-width: 1150px;
  }
}
