@use "../global/fonts.scss";
@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mixin;

.page {
  height: 100%;

  background-color: var.$color-basic-white;
}

.page__body {
  display: grid;

  @media (max-width: var.$mobile-width-only) {
    grid-template-rows: 1fr auto;
  }

  grid-template-rows: auto 1fr auto;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100%;

  @include mixin.font-main-text;
  font-style: normal;
  word-break: break-word;

  background-color: var.$color-basic-white;
}

.page__main {
  @media (max-width: var.$mobile-width-only) {
    position: relative;
    left: 0;
    right: 0;
    top: 62px;
  }
}
