// Начните писать стили здесь
@use "global/fonts.scss";
@use "global/variables.scss" as var;
@use "global/mixins.scss" as mixin;
@use "global/global-selectors.scss";
@use "helpers/visually-hidden.scss";
@use "helpers/container.scss";
@use "blocks/page.scss";
@use "blocks/page-header.scss";
@use "blocks/promo.scss";
@use "blocks/week-product.scss";
@use "blocks/button.scss";
@use "blocks/advantages.scss";
@use "blocks/reviews.scss";
@use "blocks/contacts.scss";
@use "blocks/page-footer.scss";
@use "blocks/socials-list.scss";
@use "blocks/modal-container.scss";
@use "blocks/modal-container-group.scss";
@use "blocks/order.scss";
@use "blocks/order-form.scss";
@use "blocks/order-form-group.scss";
@use "blocks/radio-input-box.scss";
@use "blocks/checkbox-box.scss";
@use "blocks/input-text-box.scss";
@use "blocks/input-text.scss";
@use "blocks/input-tel-box.scss";
@use "blocks/input-tel.scss";
@use "blocks/input-email-box.scss";
@use "blocks/input-email.scss";
@use "blocks/textarea.scss";
